/*
  Global
*/
:root {
    /* App Color */
    --color-primary: var(--color-black);
    --color-accent: var(--color-blue);
    --color-text: var(--color-white);
  
    /* Color list */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
  
    /* size */
    --max-size-width: 1200px;
  }

  .max-container {
    max-width: var(--max-size-width);
    margin: auto;
    /* border: 1px solid red; */
  }
  .section {
    padding: 4rem; 
    text-align: center;
  }
  .title {
    font-size: 2.5rem;
    margin: 1rem 0;
  }
  .description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }


  /*
  About me
*/
/* 
.majors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 2.5rem 0;
    flex-direction: column;
    align-items: center;
  }
  
  
  .major {
    width: 30rem;
    background-color: var(--color-gray);
    color: var(--color-text);
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  }
  
  .major__icon {
    font-size: 5rem;
    color: var(--color-accent);
    margin: 1rem 0;
  }
  
  .major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .jobs {
    text-align: start;
  }
  
  .job {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
  }
  
  .job__name {
    color: var(--color-primary);
  }
  
  .job__period {
    font-size: 0.8rem;
    color: var(--color-primary);
  }
 */





/*skills*/



#skill {
    background-color: var(--color-gray);
    color: var(--color-text);
  
  }
  
  .skills {
    display: grid;
    /* grid-template-columns: 6fr 4fr; */
    grid-template-columns: 1fr;
    margin: 2rem 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  }
  
  .skill__title {
    color: var(--color-accent);
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
  .sklls__coding {
    grid-row: span 2;
    background-color: var(--color-primary);
    padding: 1rem;
  }
  
  .skills__tools {
    padding: 1rem;
  
  }
  
  .skills__etc {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%);
  }
  
  .bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5;
  }
  
  .bar__metadata {
    display: flex;
    justify-content: space-between;
  }
  
  .bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-gray);
  
  }
  
  .bar__value {
    height: 3px;
    background-color: var(--color-accent);
  }
  