
/* 
title: join form style
author : 
final date :
 */

 .join-form form {
    /* border: 1px solid green; */
    width: 500px;
    margin: 0 auto;
 }

.join-form ul {
    list-style-type: none;

}

.join-form ul li {
    /* border: 1px solid tomato; */
    padding-top: 10px;

}

.join-form ul li div:not(.join-form ul li:nth-child(6) div) {
    border: 1px solid var(--color-silver);
    border-radius: 4px;
    padding: 3px 10px;
    
}






.join-form ul li:nth-child(6) input, 
.join-form ul li:nth-child(6) select {
    border: 1px solid var(--color-silver);
    border-radius: 4px;
    padding: 10px;
    
}


.join-form ul li:nth-child(6) select {
    width: 40%;
    
}

.join-form ul li:nth-child(6) span {
    margin: 0 20px
    
}

.join-form ul li:first-child > div,
.join-form ul li:nth-child(6) > div {
    /* border: 1px solid tomato; */
    /* border-radius: 8px;
    padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .join-form ul li label {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 700;
    color: var(--color-primary);
    text-indent: 7px;
    margin-right: 6px;
    /* border: 1px solid red; */
 }

 /* .join-form ul li label + span {
    font-size: 0.7em;
    font-weight: 300;
    color: var(--color-button);
 } */
 
 .join-form ul li:first-child input, 
 .join-form ul li input {
    border: 1px solid white;
    width: 80%;
    padding-left: 10px;
 }

 .join-form ul li:first-child input, 
 .join-form ul li input {
    border: 1px solid white;
    width: 80%;
    padding-left: 10px;
 }

 .join-form ul li input {
    width: 100%;
    padding: 7px 10px;
 }

 /* .join-form ul li:first-child input:focus {
    border: none;
    outline: none;
 } */

 /* .join-form ul li:first-child input:focus, */
 .join-form ul li input:focus {
    border: none;
    outline: none;
 }

 .join-form ul li:first-child button, 
 .join-form ul li:last-child button {
    border: 1px solid white;
    width: 100px;
    padding: 7px 12px;
    background-color: var(--color-button);
    color: var(--color-white);
    border-radius: 7px;
    margin-left: 10px;
 }

 .join-form ul li:last-child button {
    border-radius: 0;
    width: 150px;
    padding: 10px 0;
 }

 .join-form ul li:last-child button:last-child {
    background-color: silver;
    
 }

 .join-form ul li:last-child {
    padding: 30px 0 10px;
    text-align: center;
 }

 .textform {
    width: 350px;
    height: 40px;
    border-radius: 8px;

 }


 /* .check {
    position: absolute;
    width: 115px;
    height: 32px;  
    border-radius: 8px;
    border: blue;
    background-color: rgb(40, 169, 249);
    color: white;
    right: 20px;
    align-items: center;
 } */

 .id-text {
    position: relative;
    display: flex;
 }


 .join-form ul li span {
   font-size: 15px;
   font-weight: bold;
   color: red;
   padding-left: 10px;
 }