

.Avatar-img {
    border-radius: 100%;
    margin: 30px;

}


.avatar-container {
    display: flex;
}

.container {
    text-align: center;
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
}


.container img {
    width: 100%;
}

.new {
    position: absolute;
    top: 0;
    left: 180px;
    background-color: aquamarine;
    border-radius: 8px;
    padding: 5px 10px;
}