
/* header */
/* header */
/* header */

.header-body {
    background-color: #a73737;

}



.box {
    background-color: white;
    width: 100px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;

}


.box img {
    width: 50px;
}

.search ul {
    display: flex;
    width: 380px;
    border: 1px solid red;
    position: relative;
    margin: 0 auto;
    padding: 0;
    top: -80px;
    right: -700px;
    justify-content: space-between;
    
}



.search li {
    list-style-type: none;
}

.search li a {
    /* border: 1px solid red; */
    font-weight: bold;
    color: white;

    text-decoration: none;
}
